@media screen and (min-width: 25cm)
{
    body
    {
        background-color: #444;
    }
    .page
    {
        background-color: white;
        width: 21cm;
        margin: auto;
        padding: 1.5cm;
        box-shadow: 8px 8px 8px #333;
        border: thin solid #CCC;
    }
}
@media screen and (max-width: 12cm)
{
    #photo
    {
        display:none;
    }
}
body
{
    color: black;
    font-family: serif;
    --tint: darkblue;
}
.page
{
    background-color: white;
}
p , ul
{
    margin: 0;
}
h1
{
    color: var(--tint);
    text-align: center;
    padding: .5em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    clear: both;
}
h2
{
    color: var(--tint);
    text-align: left;
    margin: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    clear: both;
}
section
{
    page-break-inside: avoid;
}
#etat_civil
{
    font-family: sans-serif;
    clear: left;
    float: left;
}
#etat_civil .cadre
{
    border: solid var(--tint);
    box-shadow: 6px 6px 6px #aaa;
    padding: .5em;
    margin-bottom: 1.5em;
}
#etat_civil p
{
    margin-bottom: 1em;
}
#photo
{
    float: right;
}
#photo img
{
    display: block;
    max-width: 3.5cm;
    border-style: solid;
    box-shadow: 6px 6px 6px #aaa;
    padding: 1px;
}
.section
{
    border-color: var(--tint);
    border-top-style: solid;
    border-left-style: solid;
    border-spacing: .25em;
    padding-top: .25em;
    padding-left: .25em;
    margin-bottom: 1.5em;
    border-radius: 10px;
}
.detail
{
    color: #222;
    font-size: small;
}
.ligne
{
    padding-top: .4em;
    page-break-inside: avoid;
}
.gauche
{
    width: 2.5cm;
    float: left;
}
.droite
{
    background-image: linear-gradient(to right,#eee,#fff);
    border-left: thin solid #444;
    margin-left: 2.5cm;
    padding-left: .2em;
}
a
{
    text-decoration: none;
}
.libelle
{
    font-weight: bold;
}